.card.card-default
  .card-header
    form.form-inline.col-12.d-flex.justify-content-center(method='post', action='/timelock')
        #index-search.form-group.d-flex.justify-content-center
            input.form-control(type='text', name='redeemscript', placeholder=settings.locale.ex_redeemscript_message, style='min-width:80%;margin-right:5px;')
            button.btn.btn-success(type='submit') #{settings.locale.ex_submit_button}
  table.table.table-hover.table-bordered(cellspacing="0")
    thead
      tr
        th(style='text-align:center;') 
          span.fa.fa-flag-checkered
        th #{settings.locale.tx_address}
        th.hidden-xs #{settings.locale.rl_balance} (#{settings.symbol})
        th.hidden-xs Locktime info
        th.hidden-xs Raw redeemscript
    tbody
      - var count = 0
      each item in timelocklist
        - count = count + 1
        - var itemFixed = (parseInt(item.balance) / 1000000)
        - var itemFixedParts = itemFixed.toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true}).split(".");
        tr
          td(style='text-align:center;') 
            =count
          td 
            a(href='/address/'+item.a_id) #{item.a_id}
            include ./rl_labels.pug
          td.hidden-xs #{itemFixedParts[0]}.
            span.decimal #{itemFixedParts[1]}
          td.hidden-xs
            =item.description
            if !item.iscltv && item.csvinfo.length
              p Below table list maximum 10 nearest timestamps which an amount of coins will be unlocked. If that amount of coins was unlocked but they haven't been used, it would also be listed in the table.
              table.table.table-hover.table-bordered(cellspacing="0")
                thead
                  tr
                    th.hidden-xs No
                    th.hidden-xs Time to unlock
                    th.hidden-xs Amount
                tbody
                  - var i = 0
                  each utxo in item.csvinfo
                    - i = i + 1
                    - var amountFixed = (parseInt(utxo.amount) / 1000000)
                    - var amountFixedParts = amountFixed.toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true}).split(".");
                    tr
                      td.hidden-xs
                        =i
                      td.hidden-xs
                        =utxo.timetouse_string
                      td.hidden-xs #{amountFixedParts[0]}.
                        span.decimal #{amountFixedParts[1]}
          td.hidden-xs
            =item.redeemscript


